body{

margin:0;
font-family:Arial;
background:#0b0b1a;
color:white;
height:100vh;
display:flex;
flex-direction:column;

}

/* top bar */

#topbar{

background:#111;
padding:10px;
display:flex;
gap:10px;

}

#search{

flex:1;
padding:10px;
border-radius:6px;
border:none;
font-size:15px;

}

button{

padding:10px 14px;
border:none;
border-radius:6px;
background:#ff2e8b;
color:white;
cursor:pointer;

}

button:hover{

background:#ff4aa0;

}

/* home */

#home{

flex:1;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

}

/* iframe */

iframe{

flex:1;
border:none;
display:none;

}
